<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<t1>Planeador de Viajes a Barcelona</t1>
{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}
<form method="post" action="">
    <p><label>Usuario:</label> <input type="text" name="Usuario" required></p>
    <p><label>Lugar de salida</label> <input type="text" name="LugarDePartida" required></p>
    <p><label>Dia salida:</label> <input type="date" name="DiaDePartida" required></p>
    <p><label>Dia llegada:</label> <input type="date" name="DiaDeRetorno" required></p>

    <p>
        <button type="submit">Send</button>
    </p>
</form>
</body>
</html>