<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<t1>Planeador de Viajes a Barcelona</t1>
{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}
<form method="post" action="">
    <p><label>Usuario:</label> <input type="text" name="Usuario" required></p>
    <p><label>Lugar de salida</label> <input type="text" name="LugarDePartida" required></p>
    <p><label>Dia salida:</label> <input type="date" name="DiaDePartida" required></p>
    <p><label>Dia llegada:</label> <input type="date" name="DiaDeRetorno" required></p>

    <p><label for="grado_ludica">Cantidad de Lúdico:</label></p>
        <input type="radio" name="grado_ludica" value=3 required> Mucho
        <input type="radio" name="grado_ludica" value=2> Normal
        <input type="radio" name="grado_ludica" value=1> Algo
        <input type="radio" name="grado_ludica" value=0> Nada

    <p><label for="grado_cultural">Cantidad de Cultural:</label></p>
        <input type="radio" name="grado_cultural" value=3 required> Mucho
        <input type="radio" name="grado_cultural" value=2> Normal
        <input type="radio" name="grado_cultural" value=1> Algo
        <input type="radio" name="grado_cultural" value=0> Nada

    <p><label for="grado_festivo">Cantidad de Cultural:</label></p>
        <input type="radio" name="grado_festivo" value=3 required> Mucho
        <input type="radio" name="grado_festivo" value=2> Normal
        <input type="radio" name="grado_festivo" value=1> Algo
        <input type="radio" name="grado_festivo" value=0> Nada

    <p>
        <button type="submit">Send</button>
    </p>
</form>
{% if actividades %}
    <ul>
        {% for dia in actividades %}
        <li>Dia: {{dia.dia}}</li>
        <ul>
            {% for actividad in dia.actividades %}
                <li>Franja: {{actividad.franja}}</li>
                <ul>
                    <li>Título: {{actividad.nombre}}</li>
                    <li>Tipo de actividad: {{actividad.tipo_actividad}}</li>
                </ul>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>