<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% if error_message %}
<p style="color: red;">{{ error_message }}</p>
{% endif %}

<h3>Propuesta de viaje:</h3>
<ul>
    {% for dia in actividades %}
    <li>Dia: {{dia.dia}}</li>
    <ul>
        {% for actividad in dia.actividades %}
            <li>Franja: {{actividad.franja}}</li>
            <ul>
                <li>Título: {{actividad.nombre}}</li>
                <li>Tipo de actividad: {{actividad.tipo_actividad}}</li>
            </ul>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>

<h4>Aceptar viaje</t4>
<form method="post" action="/respuesta-propuesta-viaje">
    <!-- Cantidad de dinero a cargar (factura) -->
    <strong>Costo total del viaje: {{precio_total}} </strong><br><br>
    
    <!-- Preguntamos por tarjeta de credito donde cargar el precio -->
    <label for="tarjeta">Tarjeta de crédito:</label>
    <input type="text" id="tarjeta" name="tarjeta"><br><br>

    
    <button type="submit" name="respuesta" value="si"><p style="color: green;">Sí</p></button>
    <button type="submit" name="respuesta" value="no"><p style="color: red;">No</p></button>
</form>

</body>
</html>